<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacmanEvent -->
      <package
            uri="http://org.tetrabox.example.pacman.xpacman/pacman/event/"
            class="org.tetrabox.example.pacman.xpacman.event.pacmanevent.PacmaneventPackage"
            genModel="model/pacmanEvent.genmodel"/>
   </extension>

</plugin>
