<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPacmanScenario -->
      <package
            uri="http://org.tetrabox.example.pacman.xpacman/scenario/XPacmanArbiter/"
            class="org.tetrabox.example.pacman.xpacman.scenario.xpacmanscenario.XPacmanArbiter.XPacmanArbiterPackage"
            genModel="model/XPacmanScenario.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPacmanScenario -->
      <package
            uri="http://org.tetrabox.example.pacman.xpacman/scenario/XPacmanEvent/"
            class="org.tetrabox.example.pacman.xpacman.scenario.xpacmanscenario.XPacmanEvent.XPacmanEventPackage"
            genModel="model/XPacmanScenario.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPacmanScenario -->
      <package
            uri="http://org.tetrabox.example.pacman.xpacman/scenario/XPacmanProperty/"
            class="org.tetrabox.example.pacman.xpacman.scenario.xpacmanscenario.XPacmanProperty.XPacmanPropertyPackage"
            genModel="model/XPacmanScenario.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPacmanScenario -->
      <package
            uri="http://org.tetrabox.example.pacman.xpacman/scenario/XPacmanProvider/"
            class="org.tetrabox.example.pacman.xpacman.scenario.xpacmanscenario.XPacmanProvider.XPacmanProviderPackage"
            genModel="model/XPacmanScenario.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPacmanScenario -->
      <package
            uri="http://org.tetrabox.example.pacman.xpacman/scenario/XPacmanScenario/"
            class="org.tetrabox.example.pacman.xpacman.scenario.xpacmanscenario.XPacmanScenario.XPacmanScenarioPackage"
            genModel="model/XPacmanScenario.genmodel"/>
   </extension>
</plugin>
