<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.gemoc.gemoc_language_workbench.engine_addon">
    <Addon AddonGroupId="Sequential.AddonGroup" Class="org.tetrabox.example.pacman.xpacman.eventmanager.XPacmanBehavioralAPI" Default="false" Name="XPacman Event Manager" ShortDescription="Handles events for the XPacman language" id="org.tetrabox.example.pacman.xpacman.eventmanager"/>
  </extension>
</plugin>
